* {
  margin: 0;
}

body {
  background-color: #2F2F2F;
}

.wrapper {
  max-width: 900px;
  margin: 40px auto 40px 20px;
}

.wrapper li {
  position: relative;
  width: 90px;
  height: 90px;
  list-style: none;
  margin: 5px;
  display: inline-block;
  perspective: 300px;
}

.picBox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: 50% 50% -45px;
  animation: 200ms ease-out 0ms 1 normal forwards;
  margin-left: 20px;
  width: 90px;
  height: 90px;
}

.picContent {
  background: rgba(221,222,224,0.8);
  width: 90px;
  height: 90px;
}

.picTitle {
  font-family: "PingFang SC", "Microsoft YaHei", Simsun, Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #384c78;
  margin-top: 5px;
  text-align: center;
}

.picture {
  height: 30px;
  width: 30px;
  margin-left: 30px;
  margin-top: 15px;
}

.show,
.hide {
  background: rgba(255,255,255,0.1);
  width: 90px;
  height: 90px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hide {
/ / 隐藏文字样式   color: rgba(255,255,255,0.1);
  background-color: rgba(255,255,255,0.5);
  text-align: center;
  line-height: 90px;
  font-size: 10px;
  transform: translate3d(0, 0, -1px);
  /* 3D空间内移动一个元素的位置 */
}

.in-top .hide,
.out-top .hide {
  transform-origin: 0 100%;
  transform: translate3d(0, -100%, 0) rotate3d(1, 0, 0, 90deg);
}

.in-top .picBox {
  animation-name: in-top;
  animation-play-state: running;
}

.out-top .picBox {
  animation-name: out-top;
  animation-play-state: running;
}

@keyframes in-top {
  from {
    transform: rotate3d(0, 0, 0, 0deg)
  }
  to {
    transform: rotate3d(-1, 0, 0, 90deg)
  }
}

@keyframes out-top {
  from {
    transform: rotate3d(-1, 0, 0, 90deg)
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg)
  }
}

.in-right .hide,
.out-right .hide {
  transform-origin: 0 0;
  transform: translate3d(100%, 0, 0) rotate3d(0, 1, 0, 90deg);
}

.in-right .picBox {
  animation-name: in-right;
  animation-play-state: running;
}

.out-right .picBox {
  animation-name: out-right;
  animation-play-state: running;
}

@keyframes in-right {
  from {
    transform: rotate3d(0, 0, 0, 0deg)
  }
  to {
    transform: rotate3d(0, -1, 0, 90deg)
  }
}

@keyframes out-right {
  from {
    transform: rotate3d(0, -1, 0, 90deg)
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg)
  }
}

.in-bottom .hide,
.out-bottom .hide {
  transform-origin: 0 0;
  transform: translate3d(0, 100%, 0) rotate3d(-1, 0, 0, 90deg);
}

.in-bottom .picBox {
  animation-name: in-bottom;
  animation-play-state: running;
}

.out-bottom .picBox {
  animation-name: out-bottom;
  animation-play-state: running;
}

@keyframes in-bottom {
  from {
    transform: rotate3d(0, 0, 0, 0deg)
  }
  to {
    transform: rotate3d(1, 0, 0, 90deg)
  }
}

@keyframes out-bottom {
  from {
    transform: rotate3d(1, 0, 0, 90deg)
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg)
  }
}

.in-left .hide,
.out-left .hide {
  transform-origin: 100% 0;
  transform: translate3d(-100%, 0, 0) rotate3d(0, -1, 0, 90deg);
}

@keyframes in-left {
  from {
    transform: rotate3d(0, 0, 0, 0deg)
  }
  to {
    transform: rotate3d(0, 1, 0, 90deg)
  }
}

@keyframes out-left {
  from {
    transform: rotate3d(0, 1, 0, 90deg)
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg)
  }
}

.in-left .picBox {
  animation-name: in-left;
  animation-play-state: running;
}

.out-left .picBox {
  animation-name: out-left;
  animation-play-state: running;
}







