.content-temperature{
  height: 86px;
  margin-bottom: 30px;
}

.content-maximumTemperature{
  margin-bottom: 30px;
  height: 40px;
}

.content-other{
  width: 900px;
  vertical-align: middle;
  height:21px;
  margin-bottom: 30px;
}

.text-temperature{
  display: inline-block;
  font-size: 86px;
  line-height: 86px;
  color: #fff;
  margin:0 auto;
}

.text-weather{
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  color: #c6e6de;
  margin:0 auto;
}

.text-uplow{
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  color: #c6e6de;
  margin:0 auto;
}

.img-weather{
  width:40px;
  height: 40px;
}

.txt{
  line-height: 20px;
  color: #c6e6de;
  display: inline-block;
  font-size: 20px;
  margin-left: 10px;
}

.icon{
  width: 19px;
  height: 19px;
}

.windDirection{
  margin-top:0px;
}

.item{
  display: inline-block;
  margin-right: 42px;
  color: #c6e6de;
  height: 20px;
  line-height: 20px;
  font-size: 0;
}
